button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  &:disabled {
    cursor: default;
    opacity: .5;
  }
}

.btn-cta, .btn-cta .btn-text, .btn-cta-icon, .btn-cta-icon .btn-text, .btn-primary, .btn-primary .btn-text {
  position: relative;
}

.btn-cta, .btn-cta-icon, .btn-mjs-cross-sell, .btn-primary, .btn-primary-light {
  fill: #fff;
  color: #fff;
  position: relative;
  z-index: 0;
}

.btn-cta, .btn-cta-icon, .btn-mjs-cross-sell, .btn-primary, .btn-primary-light {
  background-size: 101%;
  display: inline-block;
  font-weight: 700;
  line-height: 24px;
  max-width: 100%;
  min-height: 50px;
  overflow: hidden;
  padding: 13px 18px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-transition: background-position .2s linear;
  transition: background-position .2s linear;
  vertical-align: top;
  white-space: normal;
  word-break: break-word;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
  padding: 0;
}

.btn-primary {
  background-image: -webkit-linear-gradient(315deg, #002d6e, #002d6e, #0043a5);
  background-image: linear-gradient(135deg, #002d6e, #002d6e, #0043a5);
}

.btn-primary:before {
  background: #09f;
}

.btn-cta, .btn-cta-icon {
  background-image: -webkit-linear-gradient(315deg, #ee5f00, #f60, #ff9800);
  background-image: linear-gradient(135deg, #ee5f00, #f60, #ff9800);
  border-bottom: 3px solid #cf4f00;
  padding: 13px 18px 10px;
}

.btn-cta-icon:before, .btn-cta:before {
  background: #ff4c00;
}

.btn-cta-icon:before, .btn-cta:before, .btn-primary:before {
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  width: 100%;
}

.btn-cta-icon:before, .btn-cta:before, .btn-mjs-cross-sell:before, .btn-primary-light:before, .btn-primary:before {
  z-index: 0;
}

.btn-cta-icon:not(:disabled):active:before, .btn-cta-icon:not(:disabled):focus:before, .btn-cta-icon:not(:disabled):hover:before, .btn-cta:not(:disabled):active:before, .btn-cta:not(:disabled):focus:before, .btn-cta:not(:disabled):hover:before, .btn-mjs-cross-sell:not(:disabled):active:before, .btn-mjs-cross-sell:not(:disabled):focus:before, .btn-mjs-cross-sell:not(:disabled):hover:before, .btn-primary-light:not(:disabled):active:before, .btn-primary-light:not(:disabled):focus:before, .btn-primary-light:not(:disabled):hover:before, .btn-primary:not(:disabled):active:before, .btn-primary:not(:disabled):focus:before, .btn-primary:not(:disabled):hover:before {
  opacity: 1;
}
