@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/scss/bootstrap";

@import "./buttons";

@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo';
  src: url('/fonts/museo-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Museo', sans-serif !important;
}

.nl-primary {
  color: #002d6e;
}


